@import "reset.css";
@import "material.css";

$bluegrey900d: #000a12;
$bluegrey900: #263238;
$bluegrey50: #eceff1;
$bluegrey50l: #ffffff;
$amberA700: #ffab00;

$surface: $bluegrey50;
$on-surface: $bluegrey900d;
$background: $bluegrey900;
$on-background: $bluegrey50l;
$accent: $amberA700;
$on-accent: $bluegrey900d;
$shadow: $bluegrey900d;

$_1024: 1024px;
$_512: 512px;
$_256: 256px;
$_128: 128px;
$_64: 64px;
$_32: 32px;
$_16: 16px;
$_8: 8px;
$_4: 4px;

@mixin themed {
  --mdc-theme-primary: #ffab00;
  --mdc-theme-on-primary: #000a12;
  --mdc-theme-surface: #eceff1;
  --mdc-theme-on-surface: #000a12;
  --mdc-theme-background: #263238;
  --mdc-theme-text-primary-on-background: #ffffff;
  --mdc-theme-text-secondary-on-background: #eceff1;
}


@mixin theme-surface {
  background-color: $surface;
  color: $on-surface;
}

@mixin theme-antisurface {
  background-color: $on-surface;
  color: $surface;
}

@mixin theme-background {
  background-color: $background;
  color: $on-background;
}

@mixin theme-accent {
  background-color: $accent;
  columns: $on-accent;
}

@mixin vertical-align {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

@mixin horizontal-align {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@mixin hmatch-parent() {
  width: 100%;
}

@mixin vmatch-parent {
  height: 100%;
}

@mixin hmargin($size) {
  margin-left: $size;
  margin-right: $size;
}

@mixin vmargin($size) {
  margin-top: $size;
  margin-bottom: $size;
}

@mixin maxhsize($size) {
  max-width: $size;
}

@mixin hsize($size) {
  width: $size;
}

@mixin shadow($size) {
  box-shadow: 0 0 $size $shadow;
}

html, body {
  @include theme-background;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}

img {
  display: inline-flex;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
}

p {
  font-size: 12px;
  line-height: 16px;
}

#root {
  @include horizontal-align;
  @include vmatch-parent;
  @include theme-background;
}

.vmargin-32 {
  @include vmargin(32px);
}

.hsize-256 {
  @include hsize(256px);
}

.vertical-align {
  @include vertical-align;
}

.hmatch-parent {
  @include hmatch-parent;
}

.vmatch-parent {
  @include vmatch-parent;
}

.horizontal-align {
  @include horizontal-align;
}

.textpiece {
  @include vmargin(16px)
}

.themed {
  @include themed;
}

.textfield {
  @include vmargin(16px);
}

.logo {
  @include hmargin(16px);
  @include vmargin(32px);
  min-width: 128px;
  width: 256px;
  max-width: 512px;
}

.container {
  @include shadow(16px);
  @include theme-surface;
  @include vertical-align;
  min-width: 512px;
  width: 768px;
  max-width: 1024px;
}

.footer {
  @include theme-antisurface;
}